<footer class="bg-gray-800 text-center lg:text-left ">
    <div class="text-gray-100 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
        Critical Indian | © 2022 Copyright
    </div>
</footer>